body{
    background-color: black;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

img {
    opacity: 0.6;
}

img:hover, img:active {
    animation: fadeIn 0.5s;
    opacity: 1;
    background: #80A34D;
    box-shadow: 0 0 5px #80A34D, 0 0 50px #80A34D, 0 0 50px #80A34D, 0 0 200px #80A34D;
}

@keyframes fadeIn {
    0% { opacity: 0.5; }
    100% { opacity: 1; }
  }
